<div id="todogame">

  <header class="header">
    <h1>Ready Player One! <br> TO-DO</h1>    
    <input type="text" class="new-todo" placeholder="What's on your mind?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
  </header>

  <section id="container" class="main">
      
    <div class="todo-actions">
      <input id="check-all" class="check mark-all-done" type="checkbox" (click)="setAllComplete(checkAll)" [checked]="checkAll"/>
      <label for="check-all">Mark all as completed</label>  
    </div>          

    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.completed">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.completed">
          <label>{{todo.title}}</label>
          <button class="todo-destroy" (click)="removeTodo(todo)">x</button>
        </div>
      </li>
    </ul>

    <div class="todo-stats" *ngIf="todos.length > 0">
        <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
    </div>
  </section>  


  <footer id="footer" >
      <div class="credits">
        Created by Ondrej Novak
      </div>
  </footer>
</div>
